<!-- DIV TRENUTNO IZBRANA OSEBA  -->
<div class="row fixed-placeholder">
  <div class="panel-warning panel-col-padding col-md-12 chosen-person-fixed">
      <div style="padding-top:10px; padding-bottom:10px; background-color:#f4f4f4" class="panel-body">
          <form role="form">
              <div class="row">
                  <div class="label-form-row">
                      <label class="control-label">Trenutno izbrana oseba</label>
                  </div>
                  <div class="clearfix">
                      <div class="col-md-1">
                          <img style="height:126px;width:126;" class="img-responsive" src="{{student.data.Picture}}" >
                      </div>
                      <div class="col-md-6">
                          <div style="padding-top:3px; padding-bottom:3px;" class="row">
                              <div class="col-md-4">
                                  <div>
                                      <input class="form-control"  value="{{student.data.Priimek}}" placeholder="Priimek osebe">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div>
                                      <input class="form-control"  value="{{student.data.Ime}}" placeholder="Ime osebe">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div>
                                      <input class="form-control"  value="{{student.data.Oddelek}}" placeholder="Oddelek">
                                  </div>
                              </div>
                          </div>
                          <div style="padding-top:3px; padding-bottom:3px;" class="row mt-3">
                              <div class="col-md-12">
                                  <div>
                                      <input class="form-control"  value="{{student.data.Program}}" placeholder="Program">
                                  </div>
                              </div>
                          </div>
                          <div style="padding-top:3px; padding-bottom:3px;" class="row mt-3">
                              <div class="col-md-12">
                                  <div style="margin-top:9px" class="knofi text-center">
                                      <div class="btn-group" role="group" aria-label="">
                                          <button style="margin-right: -13px;width:150px" type="button" class="btn btn-sm btn-info btn-arrow-left" (click)="PreviousRecord()">Prejšnji</button>
                                          <button type="button" style="z-index: 5;" class="btn btn-sm btn-secondary btn-primary" onclick='$("#kidsListBrowse").show()'>Pokaži seznam vseh</button>
                                          <button type="button" style="z-index: 5;" class="btn btn-sm btn-secondary btn-primary" onclick='$("#kidsListBrowse").hide()'>Skrij seznam vseh</button>
                                          <button style="margin-left:-14px;width:150px;" type="button" class="btn btn-sm btn-info btn-arrow-right" (click)="NextRecord()">Naslednji</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
              </div>
          </form>
          <!-- /.row (nested) -->
      </div>
  </div>
  <div class="row">
      <div id="kidsListResize" class="col-md-12 panel panel-info panel-col-padding">
          <div class="panel-heading" id="kidsListBrowse" ></div>
      </div>
  </div>
</div>
<!-- /DIV TRENUTNO IZBRANA OSEBA  -->
