<div class="row">
  <div class="">
      <h1 class="page-header">Osnovni podatki</h1>

  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <ul class="nav nav-tabs">
      <li class="active">
          <a href="#tab1" href-dont-rewrite data-toggle="tab">OSNOVNO</a>
      </li>
      <li>
          <a href="#tab2" href-dont-rewrite data-toggle="tab">KONTAKTNE OSEBE</a>
      </li>
      <li>
          <a href="#tab4" href-dont-rewrite data-toggle="tab">PREVOZI</a>
      </li>
      <li>
          <a href="#tab3" href-dont-rewrite data-toggle="tab">STROKOVNA SKUPINA</a>
      </li>
  </ul>
  <div class="tab-content">
      <div class="tab-pane panel-col-padding-nm active" id="tab1">
          <div class="col-md-4 panel-col-padding-nm form-group">
              <app-basic-info></app-basic-info>
          </div>
          <div class="col-md-4 panel-col-padding form-group">
              <!--<chrono class="panel-warning" selected-row-data="listCtrl.selectedRowData"></chrono>-->
          </div>
          <div class="col-md-3 panel-col-padding form-group">
              <div class="panel-info panel">
                  <div class="panel-heading">
                      <h4 class="panel-title pull-left">Pomembne zdravstvene posebnosti</h4>
                      <div class="text-cnter text-right">
                          <!--<btn class="btn btn-xs btn-default" data-add="">
                              Dodaj zapis
                              <i class="fa fa-plus"></i>
                          </btn>-->
                      </div>
                  </div>
                  <div class="panel-body" id="details-person">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title pull-left">1. Loremlore asd asd asd askdj haksjdh aksjdh kajshdk jahsdk jahsdk jahsdk jahsdk jahsd kajshdk ajshd kajshd kajsdh kasjdh aksjdh aksdj haksdj ahsdk jahsdk aj shdkajshd aksjdh aksj dhaksj hdkajs dhkajsh kajsh dkajshkd jashkd jahsk jdahm</h3>
                              <div class="text-cnter text-right">
                                  <!--<btn class="btn btn-xs btn-default" data-toggle="collapse" data-parent="#details-person" href="#detail1">
                                      Podrobnosti
                                      <i class="fa fa-arrow-down"></i>
                                  </btn>-->
                              </div>
                          </div>
                          <div id="detail1" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="row">
                                      <div class="label-form-row">
                                          <label class="control-label">Podrobnosti:</label>
                                      </div>
                                      <div class="col-md-12">
                                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at egeor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title pull-left">2. Loremlor asdlakwjd lakjsdl kjasldk jalskdj alskjdla ksjdl em</h3>
                              <div class="text-cnter text-right">
                                  <!--<btn class="btn btn-xs btn-default" data-toggle="collapse" data-parent="#detail-person" href="#detail2">
                                      Podrobnosti
                                      <i class="fa fa-arrow-down"></i>
                                  </btn>-->
                              </div>
                          </div>
                          <div id="detail2" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="row">
                                      <div class="label-form-row">
                                          <label class="control-label">Podrobnosti:</label>
                                      </div>
                                      <div class="col-md-12">
                                          <p class="lead">
                                           lorem ipalskdj... </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="tab-pane panel-col-padding-nm" id="tab2">
          <div class="col-md-4 panel-col-padding-nm form-group">
              <app-contacts-li></app-contacts-li>
          </div>
      </div>
      <div class="tab-pane panel-col-padding-nm" id="tab3">
          <div class="col-md form-group panel-col-padding-nm">
             <app-team-panel></app-team-panel>
          </div>
      </div>
      <div class="tab-pane panel-col-padding-nm" id="tab4">
          <div class="panel-warning panel-col-padding col-md-4">
              <div class="clearfix">
                  <div class="panel-warning panel-col-padding-nm">
                      <div class="panel-heading">
                          <h4 class="panel-title">Prevozi:</h4>
                          <div class="text-cnter text-right">
</div>
                      </div>
                  </div>
              </div>
              <div class="panel-group" id="details-person">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                       <label class="control-label">Na kateri relaciji se O/M vozi:</label>
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <input class="form-control"  placeholder="Relacija" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.Relation" (ngModelChange)="changeTransport()">
                                      </div>
                                  </div>
                              </div>
                      <label class="control-label">Lokacija prihoda in odhoda</label>
                              <div class="text-cnter text-right">
                                  <div class="form-group">
                                   <select class="form-control " [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.LocationOfArrival" (ngModelChange)="changeTransport()">
                                          <option *ngFor=" let kidLocTran of transportConstset.LocationOfArrival" [value]="kidLocTran.Id">
                                              {{kidLocTran.Title}}</option>
                                      </select>
                                  </div>
                              </div>
                          <label class="control-label">Način prevoza</label>
                          <div class="text-cnter text-right">
                              <div class="form-group">
                                   <select class="form-control " [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.TypeOfTransport" (ngModelChange)="changeTransport()">
                                      <option *ngFor=" let kidLocTran of transportConstset.TypeOfTransport" [value]="kidLocTran.Id">
                                          {{kidLocTran.Title}}</option>
                                  </select>
                              </div>
                          </div>
                          <label class="control-label">Čas prihoda in odhoda</label>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <input type="text" class="form-control timepicker" value="" placeholder="Čas prihoda" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.TimeOfArrival"  (ngModelChange)="changeTransport()">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <input type="text" class="form-control timepicker" value="" placeholder="Čas odhoda" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.TimeOfDeparture"  (ngModelChange)="changeTransport()">
                                  </div>
                              </div>
                          </div>
                          <label class="control-label">Pomoč druge osebe pri vstopu/izstopu</label>
                          <div class="text-cnter text-right">
                              <div class="form-group">
                                   <select class="form-control " [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.HelpOfPersonOnInOut" (ngModelChange)="changeTransport()">
                                     <option *ngFor="let kidLocTran of transportConstset.HelpOfPersonOnInOut" [value]="kidLocTran.Id">
                                      {{kidLocTran.Title}}</option>
                                  </select>
                              </div>
                          </div>
                          <label class="control-label">Sedenje med prevozom</label>
                          <div class="text-cnter text-right">
                              <div class="form-group">
                                  <select class="form-control " [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.SittingOnTrasport" (ngModelChange)="changeTransport()">
                                      <option *ngFor="let kidLocTran of transportConstset.SittingOnTrasport" [value]="kidLocTran.Id">
                                       {{kidLocTran.Title}}</option>
                                   </select>
                              </div>
                          </div>
                          <label class="control-label">Pomoč druge osebe med vožnjo</label>
                          <div class="text-right">
                              <div class="form-group">
                                   <select class="form-control " [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.HelpOfPersonOnRide" (ngModelChange)="changeTransport()">
                                      <option *ngFor="let kidLocTran of transportConstset.HelpOfPersonOnRide" [value]="kidLocTran.Id">
                                       {{kidLocTran.Title}}</option>
                                  </select>
                              </div>
                          </div>
                          <label class="control-label">Drugo</label>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <input class="form-control" value="" placeholder="Besedilo" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidtransport.Other" (ngModelChange)="changeTransport()">
                                  </div>
                              </div>
                          </div>
                          <div class="text-center">
                              <div class="btn-group text-center" role="group" aria-label="Basic example" *ngIf="userSaveDialogTransport">
                                      <button type="button" class="btn btn-xs btn-secondary btn-danger" (click)="CancelTransport()">Prekliči</button>
                                      <button type="button" class="btn btn-xs btn-secondary btn-success"  (click)="SaveTransport()">Shrani</button>
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

