<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="" class="img-brand"><span class="navbar-brand img-brand"> </span></a>
      <a class="navbar-brand" href="">ONIRU - CIRIUS Kamnik<br><span class="long-name">
  Center za izobraževanje, rehabilitacijo in usposabljanje Kamnik </span><span class="long-name"></span></a>
  </div>

  <div class="navbar-default sidebar slim" role="navigation">
      <div class="sidebar-nav navbar-collapse collapse">
          <ul class="nav" id="side-menu">
              <li class="placeholder">
                  <!-- /input-group -->
              </li>
              <li>
                  <a href="#"><i class="fa fa-fw fa-institution"></i> Nadzorna plošča</a>
              </li>
              <li>
                  <a href="#"><i class="fa-sitemap fa fa-fw"></i> Pogled<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level fa-ul">
                      <li>
                          <a href="#"><i class="fa fa-users fa-fw"></i> Otrok <span class="fa arrow"></span></a>
                          <ul class="nav nav-third-level">
                              <li>
                                  <a routerLink="/cirius/list"><i class="fa fa-fw fa-user-plus"></i> Osnovni podatki</a>
                              </li>
                              <li>
                                  <a routerLink="/cirius/factors"><i class="fa fa-fw fa-photo"></i> Okoljski dejavniki</a>
                              </li>
                              <li>
                                  <a routerLink="/cirius/function"><i class="fa fa-fw fa-cubes"></i>Funkcioniranje</a>
                              </li>
                              <li>
                                  <a routerLink="/cirius/personaliz"><i class="fa fa-fw fa-file-text-o"></i> Prilagoditve</a>
                              </li>
                              <li>
                                  <a routerLink="/cirius/program"><i class="fa fa-fw fa-address-card"></i>Program</a>
                              </li>

                               <li>
                                  <a routerLink="/cirius/goals"><i class="fa fa-fw fa-crosshairs"></i> Cilji/Evalvacija</a>
                              </li>
                              <li>
                              <a routerLink="/cirius/eval"><i class="fa fa-fw fa-dashboard"></i>IP</a>
                              </li>
                          </ul>
                          <!-- /.nav-third-level -->
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-fw fa-th-large"></i>Strokovne skupine<span class="fa arrow"></span></a>
                          <ul class="nav nav-third-level">
                              <li>
                                  <a href="#"><i class="fa fa-fw fa-plus"></i>Pregled po razrednikih</a>
                              </li>
                          </ul>
                          <!-- /.nav-third-level -->
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-fw fa-calendar"></i>Starši<span class="fa arrow"></span></a>
                          <ul class="nav nav-third-level">

                              <li>
                                  <a href="#"><i class="fa fa-fw fa-calendar-plus-o"></i>"pogled za starše"</a>
                              </li>
                              <li>
                                  <a target="_blank" href="File/71f3c77c-234d-4898-997e-35a609c9d59c?inline=true"><i class="fa fa-fw fa-calendar-plus-o"></i>"Odpri vprašalnik za starše"</a>
                              </li>
                          </ul>
                          <!-- /.nav-third-level -->
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-fw fa-puzzle-piece"></i>Mladostniki<span class="fa arrow"></span></a>
                          <ul class="nav nav-third-level">
                              <li>
                                  <a target="_blank" href="#"><i class="fa fa-fw fa-plus"></i>"pogled za mladostnike"</a>
                                  <a target="_blank" href="File/4c2a4db5-e8f5-4cc6-a626-698a6ee88b02?inline=true"><i class="fa fa-fw fa-plus"></i>"Odpri vprašalnik za otroke/mladostnike"</a>
                              </li>
                          </ul>
                          <!-- /.nav-third-level -->
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
              <li>
                  <a href="#"><i class="fa fa-fw fa-building"></i> Zaposleni<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <a href="pages/grid.html"><i class="fa fa-fw fa-user-plus"></i>"postopek za maintenerje"</a>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
              <li>
                  <a href="#"><i class="fa fa-files-o fa-fw"></i> Dokumenti<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <a href="pages/blank.html">Pomoč</a>
                      </li>
                      <li>
                          <a href="pages/login.html">"placeholder"</a>
                          <a href="pages/login.html">Pravilnik o varstvu osebnih podatkov - GDPR</a>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
              <li (click)="Logout()">Odjava</li>
          </ul>
      </div>
      <!-- /.sidebar-collapse -->
  </div>
</nav>
