<div class="wrapper fadeInDown">
  <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first ">
         <!-- <img src="img/Asset1-8.png" id="icon" alt="User Icon"/>-->
          <h1>ONIRU - CIRIUS Kamnik</h1>
      </div>
      <!-- Login Form -->
      <form>
          <input type="text"  class="fadeIn second"  placeholder="uporabniško ime"  [ngModelOptions]="{standalone: true}" [(ngModel)]="loginData.Username">
          <input type="password" id="password" class="fadeIn third"  placeholder="geslo"  [ngModelOptions]="{standalone: true}" [(ngModel)]="loginData.Password">
          <div>
              <div class="rw">
                  <div class="col-md-10" style="margin-left:10px;">
                      <h5>Strinjam se s splošnimi pogoji uporabe aplikacije in sem seznanjen s pravilnikom o varstvu osebnih podatkov GDPR - <a>Preberi pravilnik</a></h5>
                  </div>
                  <div class="col-md-1">

                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  name="gdpr" id="gdpr">
                        <label class="custom-control-label" for="gdpr"></label>
                    </div>
                  </div>
              </div>
          </div>
          <input type="button" class="fadeIn fourth" value="Prijava" (click)="authenticate()">
        </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
          <a class="underlineHover" href="/signup?">Registracija</a>
      </div>
  </div>
</div>
