<div class="row">
  <div class="">
      <h1 class="page-header">Funkcioniranje</h1>
      <!-- DIV TRENUTNO IZBRANA OSEBA  -->
      <div class="panel-warning panel-col-padding col-md-12">
          <div class="row">
              <!-- Ta ROW je pa mal bol advanced info  -->
              <div class="panel-warning panel-col-padding col-md-12">
                  <div style="overflow: auto;" class="panel-heading panel-alternative">
                      <h4 class="panel-title pull-left">Ocena funkcioniranja, odvisnost od pripomočkov in odvisnost od
                          pomoči druge osebe:</h4>
                      <!-- gumb za poročilo ....
                          <div class="text-right">
                          <btn class="btn btn-xs btn-default" data-toggle="modal" href="#modalTextReport">
                              Odpri poročilo
                              <i class="fa fa-file-text-o"></i>
                          </btn>
                      </div> -->
                  </div>
                  <div class="panel-group">
                      <div id="grades-function" class="panel panel-default collapse in">
                          <div class="panel-heading">
                              <div class="text-cnter text-right">
                                  <div class="form-group">
                                      <table style="table-layout:fixed" class="table table-condensed table-hover">
                                          <thead>
                                              <tr>
                                                  <th></th>
                                                  <th>Ocena funkcioniranja</th>
                                                  <th>Odvisnost od pripomočkov</th>
                                                  <th>Odvisnost od pomoči druge osebe</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td class="text-left"><b>Šolsko izobraževanje in učenje</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.SolIzob_Ucenje_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.SolIzob_Ucenje_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.SolIzob_Ucenje_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><span class="tableplaceholder"></span><b>Poročilo</b></td>
                                                  <td colspan="3">
                                                      <div class="panel-group clear-margin-padding" id="kidscoop-text">
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                  <div class="panel-body">
                                                                      <div style="height:auto;" class="row">
                                                                          <div class="col-md-12" style="height:100%;" >
                                                                              <div [ngSwitch]="editMode.SolIzob_Ucenje" style="height:100%;">
                                                                                  <div *ngSwitchCase="true" style="height:100%;">
                                                                                      <textarea placeholder="Na področju šolskega izobraževanja in učenja je…" (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.SolIzob_Ucenje_Porocilo" class="form-control" style="height:100%;">
                                                                                                              </textarea>
                                                                                  </div>
                                                                                  <div *ngSwitchCase="false" style="height:100%;" >
                                                                                      <pre class="preWrap" >{{kidFunction.SolIzob_Ucenje_Porocilo}}</pre>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="row knofi text-center clear-margin-padding" >
                                                              <button (click)="cancelPorocilo('SolIzob_Ucenje')" type="button" class="btn btn-xs btn-secondary btn-danger" *ngIf="editMode.SolIzob_Ucenje">Prekliči</button>
                                                              <button (click)="savePorocilo('SolIzob_Ucenje')" type="button" class="btn btn-xs btn-secondary btn-success">{{saveButton.SolIzob_Ucenje}}</button>
                                                      </div>
                                                      <div class="panel-heading">
                                                          <div class="panel-group" id="panels1">
                                                              <div class="panel panel-default">
                                                                  <div class="panel-heading">
                                                                      <h4 style="font-size:10px" class="panel-title text-center"> <a data-toggle="collapse" data-parent="#panels1" href="#collapse1" href-dont-rewrite>UČITELJ - Klikni za pomoč pri pisanju poročila</a> </h4>
                                                                  </div>
                                                                  <div id="collapse1" class="panel-collapse collapse">
                                                                      <div style="font-size:10px" class="panel-body text-left"> UČITELJ
                                                                          <br>
                                                                          -	Oceni in opiše, kako otrok sodeluje pri pouku, njegovo motiviranost, vztrajnost, vedenje, učne navade, skrb za domače naloge in učne pripomočke, idr.
                                                                          <br>
                                                                          -	Opiše, kakšna je otrokova splošna poučenost in kakšno znanje ima na posameznih predmetnih področjih. Navede lahko šolski uspeh (številčne ali opisne ocene) ali pa doseganje standardov znanj.
                                                                          <br>
                                                                          -	Oceni kakovostni nivo znanja, pri čemer lahko uporabi Bloomovo razvrstitev znanja:
                                                                          <br>
                                                                          1. poznavanje (enostaven priklic in obnova dejstev, podatkov, definicij ipd.),
                                                                          <br>
                                                                          2. razumevanje (dojemanje smisla in bistva učnega gradiva),
                                                                          <br>
                                                                          3. uporaba (samostojno reševanje problemskih nalog in posploševanje idej, pravil, principov, metod, teorij  v konkretnih, za otroka novih situacijah),
                                                                          <br>
                                                                          4. analiza (razčlenjevanje gradiva na njegove sestavne dele ali elemente, ugotavljanje odnosov in načinov povezav med temi deli),
                                                                          <br>
                                                                          5. sinteza (povezovanje delov in elementov v novo celoto, samostojno načrtovanje strategij),
                                                                          <br>
                                                                          6. vrednotenje (presoja informacij, argumentov, rešitev, idr. v skladu z nameni in po različnih kriterijih).
                                                                          <br>
                                                                          -	Opredeli morebitne težave in primanjkljaje in učna področja, na katerih se težave izražajo.
                                                                          <br>
                                                                          -	Opiše močnejša področja.
                                                                          -	Oceni, kakšna je pozornost (trajanje, kontrola, obseg) in koncentracija.
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="text-left" colspan="4"><b>Gibanje in mobilnost</b></td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><span class="tableplaceholder"></span><b>Hoja</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Gib_Mob_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Gib_Mob_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Gib_Mob_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><b class="tableplaceholder">Funkcionalnost
                                                          rok</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Fun_Rok_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Fun_Rok_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Fun_Rok_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><span class="tableplaceholder"></span><b>Poročilo</b></td>
                                                  <td colspan="3">
                                                      <div class="panel-group clear-margin-padding" id="kidscoop-text">
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                  <div class="panel-body">
                                                                      <div style="height:auto;" class="row">
                                                                          <div class="col-md-12" style="height:100%;">
                                                                              <div [ngSwitch]="editMode.Gib_Mob" style="height:100%;">
                                                                                  <div *ngSwitchCase="true" style="height:100%;">
                                                                                      <textarea placeholder="Na področju gibanja in mobilnosti je…" (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Gib_Mob_Porocilo" class="form-control" style="height:100%;">
                                                                                                              </textarea>
                                                                                  </div>
                                                                                  <div *ngSwitchCase="false" style="height:100%;">
                                                                                      <pre class="preWrap">{{kidFunction.Gib_Mob_Porocilo}}</pre>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="row knofi text-center clear-margin-padding" >
                                                              <button (click)="cancelPorocilo('Gib_Mob')" type="button" class="btn btn-xs btn-secondary btn-danger" *ngIf="editMode.Gib_Mob">Prekliči</button>
                                                              <button (click)="savePorocilo('Gib_Mob')" type="button" class="btn btn-xs btn-secondary btn-success">{{saveButton.Gib_Mob}}</button>
                                                      </div>
                                                      <div class="panel-heading">
                                                          <div class="panel-group" id="panels2">
                                                              <div class="panel panel-default">
                                                                  <div class="panel-heading">
                                                                      <h4 style="font-size:10px" class="panel-title text-center"> <a data-toggle="collapse" data-parent="#panels2" href="#collapse2" href-dont-rewrite>FIZIOTERAPEVT IN DELOVNI TERAPEVT - Pomoč pri pisanju poročila</a> </h4>
                                                                  </div>
                                                                  <div id="collapse2" class="panel-collapse collapse">
                                                                      <div style="font-size:10px" class="panel-body text-left"> FIZIOTERAPEVT IN DELOVNI TERAPEVT
                                                                          <br>
                                                                          -	Opiše način premikanje osebe iz enega mesta na drugo in zmožnost spreminjanja in obvladovanja običajnih telesnih položajev (sedenje, stoja, ležanje idr.).
                                                                          <br>
                                                                          -	Oceni zmožnost hoje, vzdržljivost na krajše in daljše razdalje, gibanje po različnih terenih (ravnina, razgiban teren, premagovanje ovir, stopnice) ter tek.
                                                                          <br>
                                                                          -	Opiše gibljivost, kontrolo, moč idr. lokomotornega aparata, tipične gibalne vzorce ipd.
                                                                          <br>
                                                                          -	Oceni zmožnosti pri ročnih dejavnostih (prijemanje predmetov, striženje s škarjami, zavezovanje vezalk, držanje pisala ipd.).
                                                                          <br>
                                                                          -	Oceni grobo in fino motoriko, koordiniranost gibov, soročnost, dominantnost idr.
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><b class="tableplaceholder">Prevozi</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Prevozi_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Prevozi_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Prevozi_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="text-left" colspan="4"><b>Osebna nega in zdravje</b></td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><b class="tableplaceholder">Hranjenje in
                                                          pitje</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_HranjInPitje_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_HranjInPitje_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_HranjInPitje_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><b class="tableplaceholder">Umivanje in
                                                          higiena</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_UmivInHig_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_UmivInHig_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_UmivInHig_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><b class="tableplaceholder">Oblačenje</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_Oblacenje_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_Oblacenje_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_Oblacenje_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><b class="tableplaceholder">Opravljanje
                                                          toalete</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_OprToalete_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_OprToalete_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_OprToalete_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><b class="tableplaceholder">Skrb za lastno
                                                          zdravje</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_SkrbZaLZ_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_SkrbZaLZ_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_SkrbZaLZ_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><span class="tableplaceholder"></span><b>Poročilo</b></td>
                                                  <td colspan="3">
                                                      <div class="panel-group clear-margin-padding" id="kidscoop-text">
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                  <div class="panel-body">
                                                                      <div style="height:auto;" class="row">
                                                                          <div class="col-md-12" style="height:100%;">
                                                                              <div [ngSwitch]="editMode.ONiZ" style="height:100%;">
                                                                                  <div *ngSwitchCase="true" style="height:100%;">
                                                                                      <textarea placeholder="Na področju osebne nege in zdravja je…" (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.ONiZ_Porocilo" class="form-control" style="height:100%;">
                                                                                                              </textarea>
                                                                                  </div>
                                                                                  <div *ngSwitchCase="false" style="height:100%;">
                                                                                      <pre class="preWrap">{{kidFunction.ONiZ_Porocilo}}</pre>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="row knofi text-center clear-margin-padding">
                                                              <button (click)="cancelPorocilo('ONiZ')" type="button" class="btn btn-xs btn-secondary btn-danger" *ngIf="editMode.ONiZ">Prekliči</button>
                                                              <button (click)="savePorocilo('ONiZ')" type="button" class="btn btn-xs btn-secondary btn-success">{{saveButton.ONiZ}}</button>
                                                          </div>
                                                      <div class="panel-heading">
                                                          <div class="panel-group" id="panels3">
                                                              <div class="panel panel-default">
                                                                  <div class="panel-heading">
                                                                      <h4 style="font-size:10px" class="panel-title text-center"> <a data-toggle="collapse" data-parent="#panels3" href="#collapse3" href-dont-rewrite> MEDICINSKA SESTRA - Pomoč pri pisanju poročila</a> </h4>
                                                                  </div>
                                                                  <div id="collapse3" class="panel-collapse collapse">
                                                                      <div style="font-size:10px" class="panel-body text-left">MEDICINSKA SESTRA
                                                                          <br>-	Opiše funkcioniranje in zmožnost samostojnega opravljanja dejavnost pri hranjenju in pitju, umivanju in higieni, oblačenju, opravljanju toalete, skrbi za lastno zdravje.
                                                                          <br>
                                                                          -	Navede morebitne zdravstvene posebnosti, ki zahtevajo posebno pozornost ( alergije, epilepsija, idr.).
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="text-left"><b>Sporazumevanje</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Sporazumevanje_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Sporazumevanje_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Sporazumevanje_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><span class="tableplaceholder"></span><b>Poročilo</b></td>
                                                  <td colspan="3">
                                                      <div class="panel-group clear-margin-padding" id="kidscoop-text">
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                  <div class="panel-body">
                                                                      <div style="height:auto;" class="row">
                                                                          <div class="col-md-12" style="height:100%;">
                                                                              <div [ngSwitch]="editMode.Sporazumevanje" style="height:100%;">
                                                                                  <div *ngSwitchCase="true" style="height:100%;">
                                                                                      <textarea placeholder="Na področju sporazumevanja je…" (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Sporazumevanje_Porocilo" class="form-control" style="height:100%;">
                                                                                                              </textarea>
                                                                                  </div>
                                                                                  <div *ngSwitchCase="false" style="height:100%;">
                                                                                      <pre class="preWrap">{{kidFunction.Sporazumevanje_Porocilo}}</pre>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="row knofi text-center clear-margin-padding" >
                                                              <button (click)="cancelPorocilo('Sporazumevanje')" type="button" class="btn btn-xs btn-secondary btn-danger" *ngIf="editMode.Sporazumevanje">Prekliči</button>
                                                              <button (click)="savePorocilo('Sporazumevanje')" type="button" class="btn btn-xs btn-secondary btn-success">{{saveButton.Sporazumevanje}}</button>
                                                     </div>
                                                      <div class="panel-heading">
                                                          <div class="panel-group" id="panels4">
                                                              <div class="panel panel-default">
                                                                  <div class="panel-heading">
                                                                      <h4 style="font-size:10px" class="panel-title text-center"> <a data-toggle="collapse" data-parent="#panels4" href="#collapse4" href-dont-rewrite>LOGOPED - Pomoč pri pisanju poročila</a> </h4>
                                                                  </div>
                                                                  <div id="collapse4" class="panel-collapse collapse">
                                                                      <div style="font-size:10px" class="panel-body text-left"> LOGOPED
                                                                          <br>
                                                                          -	Oceni zmožnosti za prenašanje želenih sporočil k drugim in sprejemanje sporočil od drugih.
                                                                          <br>
                                                                          -	Oceni zmožnost artikulacije glasov, ekspresije govora (tekočnost, zgovornost, jezik, izražanje misli, vsebina, ipd.) in razumevanja verbalnih vsebin.
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="text-left"><b>Medosebni odnosi</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Med_odnosi_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Med_odnosi_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Med_odnosi_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><span class="tableplaceholder"></span><b>Poročilo</b></td>
                                                  <td colspan="3">
                                                      <div class="panel-group clear-margin-padding" id="kidscoop-text">
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                  <div class="panel-body">
                                                                      <div style="height:auto;" class="row">
                                                                          <div class="col-md-12" style="height:100%;">
                                                                              <div [ngSwitch]="editMode.Med_odnosi" style="height:100%;">
                                                                                  <div *ngSwitchCase="true" style="height:100%;">
                                                                                      <textarea placeholder="Na področju medosebnih odnosov je…" (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Med_odnosi_Porocilo" class="form-control" style="height:100%;">
                                                                                                              </textarea>
                                                                                  </div>
                                                                                  <div *ngSwitchCase="false" style="height:100%;">
                                                                                      <pre class="preWrap">{{kidFunction.Med_odnosi_Porocilo}}</pre>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="row knofi text-center clear-margin-padding" >
                                                              <button (click)="cancelPorocilo('Med_odnosi')" type="button" class="btn btn-xs btn-secondary btn-danger" *ngIf="editMode.Med_odnosi">Prekliči</button>
                                                              <button (click)="savePorocilo('Med_odnosi')" type="button" class="btn btn-xs btn-secondary btn-success">{{saveButton.Med_odnosi}}</button>
                                                      </div>
                                                      <div class="panel-heading">
                                                          <div class="panel-group" id="panels5">
                                                              <div class="panel panel-default">
                                                                  <div class="panel-heading">
                                                                      <h4 style="font-size:10px" class="panel-title text-center"> <a data-toggle="collapse" data-parent="#panels5" href="#collapse5" href-dont-rewrite>VZGOJITELJ - Pomoč pri pisanju poročila</a> </h4>
                                                                  </div>
                                                                  <div id="collapse5" class="panel-collapse collapse">
                                                                      <div style="font-size:10px" class="panel-body text-left"> VZGOJITELJ
                                                                          <br>
                                                                          -	Opiše, kako ustvarja in vzdržuje odnose z ljudmi. Navede, kakšne odnose ima otrok s starši, učitelji, vzgojitelji, ipd., vrstniki, tujci, in drugimi.
                                                                          <br>
                                                                          -	Opredeli odprtost pri vzpostavljanje novih kontaktov, medsebojno spoštovanje in zaupanje, upoštevanje drugih, tolerantnost, prilagodljivost, konfliktnost, skladnost odnosov s socialnimi normami, bogastvo socialnih odnosov, funkcioniranje v skupini, pristnost, harmoničnost, odzivnost, stabilnost, razvoj odnosov skozi daljše obdobje, idr.
                                                                          <br>
                                                                          -	Opiše morebitna odstopajoča vedenja v (agresivnost, zaprtost, idr.)
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="text-left"><b>Socialne veščine</b></td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.SocVesc_OCF" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OCF" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.SocVesc_OOP" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OOP" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                                  <td>
                                                      <select class="form-control " (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.SocVesc_OODO" (ngModelChange)="changeModel()">
                                                          <option *ngFor="let kidFun of FunctionCode.OODO" [value]="kidFun.Id">
                                                              {{kidFun.Title}}
</option>
                                                      </select>
                                                  </td>
                                              </tr>
                                              <tr class="text-muted">
                                                  <td class="text-left"><span class="tableplaceholder"></span><b>Poročilo</b></td>
                                                  <td colspan="3">
                                                      <div class="panel-group clear-margin-padding" id="kidscoop-text">
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                  <div class="panel-body">
                                                                      <div style="height:auto;" class="row">
                                                                          <div class="col-md-12" style="height:100%;">
                                                                              <div [ngSwitch]="editMode.SocVesc" style="height:100%;">
                                                                                  <div *ngSwitchCase="true" style="height:100%;">
                                                                                      <textarea placeholder="Na področju socialnih veščin je…" (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.SocVesc_Porocilo" class="form-control" style="height:100%;">
                                                                                                              </textarea>
                                                                                  </div>
                                                                                  <div *ngSwitchCase="false" style="height:100%;">
                                                                                      <pre class="preWrap">{{kidFunction.SocVesc_Porocilo}}</pre>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="row knofi text-center clear-margin-padding">
                                                              <button (click)="cancelPorocilo('SocVesc')" type="button" class="btn btn-xs btn-secondary btn-danger" *ngIf="editMode.SocVesc">Prekliči</button>
                                                              <button (click)="savePorocilo('SocVesc')" type="button" class="btn btn-xs btn-secondary btn-success">{{saveButton.SocVesc}}</button>
                                                        </div>
                                                      <div class="panel-heading">
                                                          <div class="panel-group" id="panels6">
                                                              <div class="panel panel-default">
                                                                  <div class="panel-heading">
                                                                      <h4 style="font-size:10px" class="panel-title text-center"> <a data-toggle="collapse" data-parent="#panels6" href="#collapse6" href-dont-rewrite> VZGOJITELJ - Pomoč pri pisanju poročila</a> </h4>
                                                                  </div>
                                                                  <div id="collapse6" class="panel-collapse collapse">
                                                                      <div style="font-size:10px" class="panel-body text-left">VZGOJITELJ
                                                                          <br>
                                                                          -	Opiše zmožnost opravljanja socialnih veščin glede na pričakovano funkcioniranje v otrokovi starosti na naslednjih področjih: osnovna domača opravila (pripravljanje hrane, pospravljanje, pomivanje idr.), ravnanje z denarjem, nakupovanje, prilagodljivosti in iznajdljivosti v novih situacijah, izpolnjevanje dolžnosti, uveljavljanje svojih pravic, »funkcionalni pismenosti«, idr.
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                      <!-- <h4 class="panel-title pull-left">Poročilo o funkcioniranju</h4> -->
                                      <!-- <div style="height:100%;">
  <textarea (ngModelChange)="changeModel()" [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFunction.Porocilo" class="form-control" style="height:100%;" (ngModelChange)="changeModel()">
                                                      </textarea>
</div> -->
                                      <div class="row knofi text-center">
                                          <div class="text-center">
                                              <div class="btn-group text-center" role="group" aria-label="Basic example" *ngIf="userSaveDialog">
                                                  <button type="button" class="btn btn-xs btn-secondary btn-danger" (click)="CancelUserOnClick()">Prekliči</button>
                                                  <button type="button" class="btn btn-xs btn-secondary btn-success" (click)="SaveOrAddUserOnClick()">Shrani</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
