<div class="row">
  <div class="">
    <h1 class="page-header">Cilji</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab1" href-dont-rewrite data-toggle="tab">POMEMBNOST CILJEV</a>
      </li>
      <li>
        <a href="#tab2" href-dont-rewrite data-toggle="tab">ZASTAVLJENI CILJI</a>
      </li>
      <li>
        <a href="#tab3" href-dont-rewrite data-toggle="tab">DOSEŽENI CILJI</a>
      </li>
      <li>
        <a href="#tab4" href-dont-rewrite data-toggle="tab">Evalvacija</a>
      </li>
      <!-- SKRITO ZA ENKRAT dodano kasneje  <li>
          <a href="#tab4" href-dont-rewrite data-toggle="tab">EVALVACIJA</a>
      </li>-->
    </ul>
    <div style="background-color: #f8f8f8; padding: 5px;" class="text-center">
      <span> <b style="color:gray;">{{student.data.Ime}} {{student.data.Priimek}}</b> </span>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div id="kidsFunctionReport" class="panel-warning panel-col-padding col-md-5">
          <div style="overflow: auto" class="panel-heading panel-warning">
            <h4 class="panel-title pull-left">Opredelite pomembnost doseganja v posamezni kategoriji:</h4>
            <div class="text-cnter text-right">
            </div>
          </div>
          <div class="panel-group collapse in" id="goals-select">
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Šolsko izobraževanje in učenje (dosežena izobrazba ali
                    poklicna kvalifikacija)</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Pomembnost')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Pomembnost.SolIzobUcenje">
                      <option *ngFor="let kidPOS of GoalCode.Pomembnost" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Gibanje in mobilnost (medicinska rehabilitacija)</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Pomembnost')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Pomembnost.GibanjeMobilnost">
                      <option *ngFor="let kidPOS of GoalCode.Pomembnost" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Osebna nega in zdravje</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Pomembnost')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Pomembnost.OsebnaNegaInZdr">
                      <option *ngFor="let kidPOS of GoalCode.Pomembnost" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Psihosocialni razvoj</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Pomembnost')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Pomembnost.PsihOsebniRazvoj">
                      <option *ngFor="let kidPOS of GoalCode.Pomembnost" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-warning panel-col-padding col-md-5">
          <div style="overflow: auto" class="panel-heading panel-warning">
            <h4 class="panel-title pull-left">Povzetek pomembnosti ciljev:</h4>
            <div class="text-cnter text-right">
            </div>
          </div>
          <div class="panel-group" id="funct-text">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-body">
                  <div style="height:350px;" class="row">
                    <div class="label-form-row">
                      <label class="control-label">Poročilo:</label>
                    </div>
                    <div class="col-md-12" style="height:100%;">
                      <div [ngSwitch]="editMode.Pomembnost" style="height:100%;">
                        <div *ngSwitchCase="true" style="height:100%;">
                          *<textarea (ngModelChange)="changeTextModel()" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="kidGoals.Pomembnost.Porocilo" class="form-control" style="height:100%;">
                                      </textarea>
                        </div>
                        <div *ngSwitchCase="false" style="height:100%;">
                          <pre class="preWrap">{{kidGoals.Pomembnost.Porocilo}}</pre>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row knofi text-center" style="padding-top:10px;">
                    <button (click)="cancelPorocilo('Pomembnost')" type="button" class="btn btn-secondary btn-danger"
                      *ngIf="editMode.Pomembnost">Prekliči</button>
                    <button (click)="clickPorocilo('Pomembnost')" type="button"
                      class="btn btn-secondary btn-success">{{saveButton.Pomembnost}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row knofi text-center">
          <div class="text-center">
            <div class="btn-group text-center" role="group" aria-label="Basic example"
              *ngIf="userSaveDialog.Pomembnost">
              <button type="button" class="btn btn-xs btn-secondary btn-danger"
                (click)="CancelUserOnClick('Pomembnost')">Prekliči</button>
              <button type="button" class="btn btn-xs btn-secondary btn-success"
                (click)="SaveOnClick('Pomembnost')">Shrani</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="panel-warning panel-col-padding col-md-5">
          <div style="overflow: auto" class="panel-heading panel-warning">
            <h4 class="panel-title pull-left">Zastavljeni cilji / napredek v funkcioniranju:</h4>
            <div class="text-cnter text-right">
            </div>
          </div>
          <div class="panel-group collapse in" id="goals-select">
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Šolsko izobraževanje in učenje (dosežena izobrazba ali
                    poklicna kvalifikacija)</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Zastavljeni')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Zastavljeni.SolIzobUcenje">
                      <option *ngFor="let kidPOS of GoalCode.Zastavljeni" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Gibanje in mobilnost (medicinska rehabilitacija)</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Zastavljeni')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Zastavljeni.GibanjeMobilnost">
                      <option *ngFor="let kidPOS of GoalCode.Zastavljeni" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Osebna nega in zdravje</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Zastavljeni')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Zastavljeni.OsebnaNegaInZdr">
                      <option *ngFor="let kidPOS of GoalCode.Zastavljeni" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Psihosocialni razvoj</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Zastavljeni')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Zastavljeni.PsihOsebniRazvoj">
                      <option *ngFor="let kidPOS of GoalCode.Zastavljeni" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-warning panel-col-padding col-md-5">
          <div style="overflow: auto" class="panel-heading panel-warning">
            <h4 class="panel-title pull-left">Povzetek pričakovanega napredeka v funkcioniranju:</h4>
            <div class="text-cnter text-right">
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-body">
                  <div style="height:350px;" class="row">
                    <div class="label-form-row">
                      <label class="control-label">Poročilo:</label>
                    </div>
                    <div class="col-md-12" style="height:100%;">
                      <div [ngSwitch]="editMode.Zastavljeni" style="height:100%;">
                        <div *ngSwitchCase="true" style="height:100%;">
                          *<textarea (ngModelChange)="changeTextModel()" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="kidGoals.Zastavljeni.Porocilo" class="form-control" style="height:100%;">
                                      </textarea>
                        </div>
                        <div *ngSwitchCase="false" style="height:100%;">
                          <pre class="preWrap">{{kidGoals.Zastavljeni.Porocilo}}</pre>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row knofi text-center" style="padding-top:10px;">
                    <button (click)="cancelPorocilo('Zastavljeni')" type="button" class="btn btn-secondary btn-danger"
                      *ngIf="editMode.Zastavljeni">Prekliči</button>
                    <button (click)="clickPorocilo('Zastavljeni')" type="button"
                      class="btn btn-secondary btn-success">{{saveButton.Zastavljeni}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row knofi text-center">
          <div class="text-center">
            <div class="btn-group text-center" role="group" aria-label="Basic example"
              *ngIf="userSaveDialog.Zastavljeni">
              <button type="button" class="btn btn-xs btn-secondary btn-danger"
                (click)="CancelUserOnClick('Zastavljeni')">Prekliči</button>
              <button type="button" class="btn btn-xs btn-secondary btn-success"
                (click)="SaveOnClick('Zastavljeni')">Shrani</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab3">
        <div class="panel-warning panel-col-padding col-md-5">
          <div style="overflow: auto" class="panel-heading panel-warning">
            <h4 class="panel-title pull-left">Doseženi cilji / napredek v funkcioniranju:</h4>
            <div class="text-cnter text-right">
            </div>
          </div>
          <div class="panel-group collapse in">
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Šolsko izobraževanje in učenje (dosežena izobrazba ali
                    poklicna kvalifikacija)</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Dosezeni')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Dosezeni.SolIzobUcenje">
                      <option *ngFor="let kidPOS of GoalCode.Dosezeni" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Gibanje in mobilnost (medicinska rehabilitacija)</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Dosezeni')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Dosezeni.GibanjeMobilnost">
                      <option *ngFor="let kidPOS of GoalCode.Dosezeni" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Osebna nega in zdravje</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Dosezeni')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Dosezeni.OsebnaNegaInZdr">
                      <option *ngFor="let kidPOS of GoalCode.Dosezeni" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Psihosocialni razvoj</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('Dosezeni')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.Dosezeni.PsihOsebniRazvoj">
                      <option *ngFor="let kidPOS of GoalCode.Dosezeni" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="panel-warning panel-col-padding col-md-5">
          <div style="overflow: auto" class="panel-heading panel-warning">
            <h4 class="panel-title pull-left">Povzetek dosežkov in napredeka v funkcioniranju:</h4>
            <div class="text-cnter text-right">
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-body">
                  <div style="height:350px;" class="row">
                    <div class="label-form-row">
                      <label class="control-label">Poročilo:</label>
                    </div>
                    <div class="col-md-12" style="height:100%;">
                      <div [ngSwitch]="editMode.Dosezeni" style="height:100%;">
                        <div *ngSwitchCase="true" style="height:100%;">
                          *<textarea (ngModelChange)="changeTextModel()" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="kidGoals.Dosezeni.Porocilo" class="form-control" style="height:100%;">
                                              </textarea>
                        </div>
                        <div *ngSwitchCase="false" style="height:100%;">
                          <pre class="preWrap">{{kidGoals.Dosezeni.Porocilo}}</pre>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row knofi text-center" style="padding-top:10px;">
                    <button (click)="cancelPorocilo('Dosezeni')" type="button" class="btn btn-secondary btn-danger"
                      *ngIf="editMode.Dosezeni">Prekliči</button>
                    <button (click)="clickPorocilo('Dosezeni')" type="button"
                      class="btn btn-secondary btn-success">{{saveButton.Dosezeni}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row knofi text-center">
          <div class="text-center">
            <div class="btn-group text-center" role="group" aria-label="Basic example" *ngIf="userSaveDialog.Dosezeni">
              <button type="button" class="btn btn-xs btn-secondary btn-danger"
                (click)="CancelUserOnClick('Dosezeni')">Prekliči</button>
              <button type="button" class="btn btn-xs btn-secondary btn-success"
                (click)="SaveOnClick('Dosezeni')">Shrani</button>
            </div>
          </div>
        </div>
      </div>
      <!--TAB 4 EVALVACIJA SKRITAa ZAENKRAT-->
      <!-- <div class="tab-pane" id="tab4">
  <div id="kidsFunctionReport" class="panel-warning panel-col-padding col-md-4">
      <div style="overflow: auto;" class="panel-heading panel-warning">
          <h4 class="panel-title pull-left">Evalvacija mladostnika:</h4>
          <div class="text-cnter text-right">
          </div>
      </div>
      <div class="panel-group collapse in" id="neki-text3">
          <div class="panel panel-default ">
              <div class="panel-heading">
                  <h3 class="panel-title select-factors"><b>Ustreznost programov in prilagoditev</b></h3>
                  <div class="text-cnter text-right">
                      <div class="form-group">
                          <select class="form-control ">
                              <option>-0 – ni problema (ne obstaja, odsoten, zanemarljiv)</option>
                              <option>+1 – majhen problem (lahek, blag)</option>
                              <option>+2 – zmeren problem (srednji, znaten)</option>
                              <option>+3 – velik problem (težek, resen, hud)</option>
                              <option>+4 – popoln problem (v celoti)</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="panel-heading">
                  <h3 class="panel-title select-factors"><b>Sodelovanje v programih</b></h3>
                  <div class="text-cnter text-right">
                      <div class="form-group">
                          <select class="form-control ">
                              <option>-0 – ni problema (ne obstaja, odsoten, zanemarljiv)</option>
                              <option>+1 – majhen problem (lahek, blag)</option>
                              <option>+2 – zmeren problem (srednji, znaten)</option>
                              <option>+3 – velik problem (težek, resen, hud)</option>
                              <option>+4 – popoln problem (v celoti)</option>
                          </select>
                      </div>
                  </div>
          </div>
              <div class="panel-heading">
                  <h3 class="panel-title select-factors"><b>Napredek in doseganje ciljev</b></h3>
                  <div class="text-cnter text-right">
                      <div class="form-group">
                          <select class="form-control ">
                              <option>-0 – ni problema (ne obstaja, odsoten, zanemarljiv)</option>
                              <option>+1 – majhen problem (lahek, blag)</option>
                              <option>+2 – zmeren problem (srednji, znaten)</option>
                              <option>+3 – velik problem (težek, resen, hud)</option>
                              <option>+4 – popoln problem (v celoti)</option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel-group" id="parentcoop-text">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="panel-body">
                      <div style="height:350px;" class="row">
                          <div class="label-form-row">
                              <label class="control-label">Poročilo:</label>
                          </div>
                          <div class="col-md-12" style="height:100%;">
                              <div ng-switch on="editMode" style="height:100%;">
                                  <div *ngSwitchCase="true" style="height:100%;">
                                      <textarea ng-model="rowData.FunctionReport" class="form-control" style="height:100%;">
                                      </textarea>
                                  </div >
                                  <div *ngSwitchCase="false" style="height:100%;">
                                      <pre class="preWrap">{{rowData.FunctionReport}}</pre>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </br>
                      <div class="row knofi text-center" style="padding-top:10px;">
                          <button ng-click="onSaveClick()" type="button" class="btn btn-secondary btn-success">{{saveBtn}}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </div>-->
      <div class="tab-pane" id="tab4">
        <div id="kidsFunctionReport" class="panel-warning panel-col-padding col-md-4">
          <div style="overflow: auto" class="panel-heading panel-warning">
            <h4 class="panel-title pull-left">Sodelovanje staršev:</h4>
            <div class="text-cnter text-right">
            </div>
          </div>
          <div class="panel-group collapse in" id="neki-text3">
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Šifrant..</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('SodStar')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.SodStar.SodelovanjeStarsev">
                      <option *ngFor="let kidPOS of GoalCode.Sodelovanje" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-group" id="parentcoop-text">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-body">
                    <div style="height:350px;" class="row">
                      <div class="label-form-row">
                        <label class="control-label">Poročilo:</label>
                      </div>
                      <div class="col-md-12" style="height:100%;">
                        <div [ngSwitch]="editMode.SodStar" style="height:100%;">
                          <div *ngSwitchCase="true" style="height:100%;">
                            <textarea (ngModelChange)="changeTextModel()" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="kidGoals.SodStar.Porocilo" class="form-control" style="height:100%;">
                                      </textarea>
                          </div>
                          <div *ngSwitchCase="false" style="height:100%;">
                            <pre class="preWrap">{{kidGoals.SodStar.Porocilo}}</pre>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row knofi text-center" style="padding-top:10px;">
                      <div class="row knofi text-center" style="padding-top:10px;">
                        <button (click)="cancelPorocilo('SodStar')" type="button" class="btn btn-secondary btn-danger"
                          *ngIf="editMode.SodStar">Prekliči</button>
                        <button (click)="clickPorocilo('SodStar')" type="button"
                          class="btn btn-secondary btn-success">{{saveButton.SodStar}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row knofi text-center">
              <div class="text-center">
                <div class="btn-group text-center" role="group" aria-label="Basic example"
                  *ngIf="userSaveDialog.SodStar">
                  <button type="button" class="btn btn-xs btn-secondary btn-danger"
                    (click)="CancelUserOnClick('SodStar')">Prekliči</button>
                  <button type="button" class="btn btn-xs btn-secondary btn-success"
                    (click)="SaveOnClick('SodStar')">Shrani</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="panel-warning panel-col-padding col-md-4">
          <div style="overflow: auto" class="panel-heading panel-warning">
            <h4 class="panel-title pull-left">Sodelovanje mladostnika:</h4>
            <div class="text-cnter text-right">
            </div>
          </div>
          <div class="panel-group collapse in" id="neki-text4">
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h3 class="panel-title select-factors"><b>Šifrant..</b></h3>
                <div class="text-cnter text-right">
                  <div class="form-group">
                    <select class="form-control " (ngModelChange)="changeModel('SodMlad')"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidGoals.SodMlad.SodelovanjeMladosnika">
                      <option *ngFor="let kidPOS of GoalCode.Sodelovanje" [value]="kidPOS.Id">
                        {{kidPOS.Title}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-group" id="kidscoop-text">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-body">
                    <div style="height:350px;" class="row">
                      <div class="label-form-row">
                        <label class="control-label">Poročilo:</label>
                      </div>
                      <div class="col-md-12" style="height:100%;">
                        <div [ngSwitch]="editMode.SodMlad" style="height:100%;">
                          <div *ngSwitchCase="true" style="height:100%;">
                            *<textarea (ngModelChange)="changeTextModel()" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="kidGoals.SodMlad.Porocilo" class="form-control" style="height:100%;">
                                          </textarea>
                          </div>
                          <div *ngSwitchCase="false" style="height:100%;">
                            <pre class="preWrap">{{kidGoals.SodMlad.Porocilo}}</pre>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row knofi text-center" style="padding-top:10px;">
                      <div class="row knofi text-center" style="padding-top:10px;">
                        <button (click)="cancelPorocilo('SodMlad')" type="button" class="btn btn-secondary btn-danger"
                          *ngIf="editMode.SodMlad">Prekliči</button>
                        <button (click)="clickPorocilo('SodMlad')" type="button"
                          class="btn btn-secondary btn-success">{{saveButton.SodMlad}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row knofi text-center">
              <div class="text-center">
                <div class="btn-group text-center" role="group" aria-label="Basic example"
                  *ngIf="userSaveDialog.SodMlad">
                  <button type="button" class="btn btn-xs btn-secondary btn-danger"
                    (click)="CancelUserOnClick('SodMlad')">Prekliči</button>
                  <button type="button" class="btn btn-xs btn-secondary btn-success"
                    (click)="SaveOnClick('SodMlad')">Shrani</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--    STARA ROBA JE OD TU NAPREJ-->
