<div class="row">
  <div class="">
    <h1 class="page-header">Prilagoditve</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div id="kidsPersonalizReport" lass="panel-warning panel-col-padding col-md-12">
    <div style="overflow: auto;" class="panel-heading panel-alternative">
      <h4 class="panel-title pull-left">Prilagoditve</h4>
    </div>
    <div class="panel-group">
      <div id="grades-function" class="panel panel-default collapse in">
        <div class="panel-heading">
          <div class="text-cnter text-right">
            <div class="form-group" >
              <table style="table-layout:fixed;" class="table table-hover table-striped table-condensed">
                <thead>
                  <tr>
                    <th colspan="3"></th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left" colspan="6"><b><b>Šolsko izobraževanje in učenje</b></b></td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b><b>Oblike dela in učne metode na posameznih
                          vzgojno-izobraževalnih področjih </b></b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_ODUM')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_ODUM">
                        <option *ngFor="let kidFun of adjustCode.SIU_ODUM" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_ODUM">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_ODUM" (change)="changeTextAdd('SIU_ODUM')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_ODUM;trackBy:identify" [ngValue]="kidFun">
                            – {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_ODUM[additonalTextCMBSelected.SIU_ODUM.Id]">
                                                              </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Doseganje standardov in napredovanje</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_DSN')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_DSN">
                        <option *ngFor="let kidFun of adjustCode.SIU_DSN" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_DSN">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_DSN" (change)="changeTextAdd('SIU_DSN')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_DSN;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_DSN[additonalTextCMBSelected.SIU_DSN.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Uporaba prilagojene in pomožne izobraževalne
                        tehnologije</b></td>
                        <td colspan="2">
                          <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_UPPIT')"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_UPPIT">
                            <option *ngFor="let kidFun of adjustCode.SIU_UPPIT" [value]="kidFun.Id"> – {{kidFun.Title}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <div *ngIf="additonal.SIU_UPPIT">
                            <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="additonalTextCMBSelected.SIU_UPPIT" (change)="changeTextAdd('SIU_UPPIT')">
                              <option *ngFor="let kidFun of additonalTextCMB.SIU_UPPIT;trackBy:identify" [ngValue]="kidFun"> –
                                {{kidFun.Title}}</option>
                            </select>
                            <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="additonalText.SIU_UPPIT[additonalTextCMBSelected.SIU_UPPIT.Id]">
                                                              </textarea>
                          </div>
                        </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Preverjanje in ocenjevanja znanja</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_POZ')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_POZ">
                        <option *ngFor="let kidFun of adjustCode.SIU_POZ" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_POZ">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_POZ" (change)="changeTextAdd('SIU_POZ')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_POZ;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_POZ[additonalTextCMBSelected.SIU_POZ.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Domače naloge</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_DN')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_DN">
                        <option *ngFor="let kidFun of adjustCode.SIU_DN" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_DN">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_DN" (change)="changeTextAdd('SIU_DN')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_DN;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_DN[additonalTextCMBSelected.SIU_DN.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Izvajanje fizične pomoči</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_IFP')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_IFP">
                        <option *ngFor="let kidFun of adjustCode.SIU_IFP" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_IFP">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_IFP" (change)="changeTextAdd('SIU_IFP')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_IFP;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_IFP[additonalTextCMBSelected.SIU_IFP.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Prehajanje med programi ter potrebne prilagoditve
                        pri organizaciji</b></td>
                        <td colspan="2">
                          <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_PMPPPO')"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_PMPPPO">
                            <option *ngFor="let kidFun of adjustCode.SIU_PMPPPO" [value]="kidFun.Id"> – {{kidFun.Title}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <div *ngIf="additonal.SIU_PMPPPO">
                            <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="additonalTextCMBSelected.SIU_PMPPPO" (change)="changeTextAdd('SIU_PMPPPO')">
                              <option *ngFor="let kidFun of additonalTextCMB.SIU_PMPPPO;trackBy:identify" [ngValue]="kidFun"> –
                                {{kidFun.Title}}</option>
                            </select>
                            <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="additonalText.SIU_PMPPPO[additonalTextCMBSelected.SIU_PMPPPO.Id]">
                                                              </textarea>
                          </div>
                        </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Časovna razporeditev pouka</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_CRP')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_CRP">
                        <option *ngFor="let kidFun of adjustCode.SIU_CRP" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_CRP">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_CRP" (change)="changeTextAdd('SIU_CRP')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_CRP;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_CRP[additonalTextCMBSelected.SIU_CRP.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Druge prilagoditve</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_DP')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_DP">
                        <option *ngFor="let kidFun of adjustCode.SIU_DP" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_DP">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_DP" (change)="changeTextAdd('SIU_DP')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_DP;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_DP[additonalTextCMBSelected.SIU_DP.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left" colspan="5"><b><b><b>Gibanje in mobilnost</b></b></b></td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Pripomočki</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('GIM_P')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.GIM_P">
                        <option *ngFor="let kidFun of adjustCode.GIM_P" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.GIM_P">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.GIM_P" (change)="changeTextAdd('GIM_P')">
                          <option *ngFor="let kidFun of additonalTextCMB.GIM_P;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.GIM_P[additonalTextCMBSelected.GIM_P.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Prilagoditve pri prevozih</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('GIM_PP')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.GIM_PP">
                        <option *ngFor="let kidFun of adjustCode.GIM_PP" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.GIM_PP">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.GIM_PP" (change)="changeTextAdd('GIM_PP')">
                          <option *ngFor="let kidFun of additonalTextCMB.GIM_PP;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.GIM_PP[additonalTextCMBSelected.GIM_PP.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left" colspan="5"><b><b><b>Osebna nega in zdravje</b></b></b></td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Pripomočki</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('ONZ_P')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.ONZ_P">
                        <option *ngFor="let kidFun of adjustCode.ONZ_P" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.ONZ_P">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.ONZ_P" (change)="changeTextAdd('ONZ_P')">
                          <option *ngFor="let kidFun of additonalTextCMB.ONZ_P;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.ONZ_P[additonalTextCMBSelected.ONZ_P.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b><b>Pomoč
                          druge osebe</b></b></td>
                          <td colspan="2">
                            <select class=" ms form-control" multiple="multiple" (change)="changeModel('ONZ_PDO')"
                              [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.ONZ_PDO">
                              <option *ngFor="let kidFun of adjustCode.ONZ_PDO" [value]="kidFun.Id"> – {{kidFun.Title}}
                              </option>
                            </select>
                          </td>
                          <td>
                            <div *ngIf="additonal.ONZ_PDO">
                              <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="additonalTextCMBSelected.ONZ_PDO" (change)="changeTextAdd('ONZ_PDO')">
                                <option *ngFor="let kidFun of additonalTextCMB.ONZ_PDO;trackBy:identify" [ngValue]="kidFun"> –
                                  {{kidFun.Title}}</option>
                              </select>
                              <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="additonalText.ONZ_PDO[additonalTextCMBSelected.ONZ_PDO.Id]">
                                                                </textarea>
                            </div>
                          </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Prilagoditve pri prehrani</b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('ONZ_PPREH')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.ONZ_PPREH">
                          <option *ngFor="let kidFun of adjustCode.ONZ_PPREH" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.ONZ_PPREH">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.ONZ_PPREH" (change)="changeTextAdd('ONZ_PPREH')">
                            <option *ngFor="let kidFun of additonalTextCMB.ONZ_PPREH;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.ONZ_PPREH[additonalTextCMBSelected.ONZ_PPREH.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>
                            <p><b>Prilagoditve in posebnosti zaradi alergij</b></p>
                          </b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('ONZ_PPZA')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.ONZ_PPZA">
                          <option *ngFor="let kidFun of adjustCode.ONZ_PPZA" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.ONZ_PPZA">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.ONZ_PPZA" (change)="changeTextAdd('ONZ_PPZA')">
                            <option *ngFor="let kidFun of additonalTextCMB.ONZ_PPZA;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.ONZ_PPZA[additonalTextCMBSelected.ONZ_PPZA.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>
                            <p><b>Prilagoditve in posebnosti zaradi inkontinence</b></p>
                          </b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('ONZ_PPZI')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.ONZ_PPZI">
                          <option *ngFor="let kidFun of adjustCode.ONZ_PPZI" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.ONZ_PPZI">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.ONZ_PPZI" (change)="changeTextAdd('ONZ_PPZI')">
                            <option *ngFor="let kidFun of additonalTextCMB.ONZ_PPZI;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.ONZ_PPZI[additonalTextCMBSelected.ONZ_PPZI.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Prilagoditve in posebnosti zaradi epilepsije</b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('ONZ_PPZE')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.ONZ_PPZE">
                          <option *ngFor="let kidFun of adjustCode.ONZ_PPZE" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.ONZ_PPZE">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.ONZ_PPZE" (change)="changeTextAdd('ONZ_PPZE')">
                            <option *ngFor="let kidFun of additonalTextCMB.ONZ_PPZE;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.ONZ_PPZE[additonalTextCMBSelected.ONZ_PPZE.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Prilagoditve in posebnosti zaradi psihotropnih zdravil</b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('ONZ_PPZPS')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.ONZ_PPZPS">
                          <option *ngFor="let kidFun of adjustCode.ONZ_PPZPS" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.ONZ_PPZPS">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.ONZ_PPZPS" (change)="changeTextAdd('ONZ_PPZPS')">
                            <option *ngFor="let kidFun of additonalTextCMB.ONZ_PPZPS;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.ONZ_PPZPS[additonalTextCMBSelected.ONZ_PPZPS.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr>
                    <td class="text-left" colspan="5"><b>Sporazumevanje&nbsp;</b><br></td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Način komunikacije</b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SPO_NK')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SPO_NK">
                          <option *ngFor="let kidFun of adjustCode.SPO_NK" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SPO_NK">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SPO_NK" (change)="changeTextAdd('SPO_NK')">
                            <option *ngFor="let kidFun of additonalTextCMB.SPO_NK;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SPO_NK[additonalTextCMBSelected.SPO_NK.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Pripomočki</b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SPO_PRI')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SPO_PRI">
                          <option *ngFor="let kidFun of adjustCode.SPO_PRI" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SPO_PRI">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SPO_PRI" (change)="changeTextAdd('SPO_PRI')">
                            <option *ngFor="let kidFun of additonalTextCMB.SPO_PRI;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SPO_PRI[additonalTextCMBSelected.SPO_PRI.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b><b>Izvajanje tolmačenja v slovenskem znakovnem jeziku</b></b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SPO_ITSJ')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SPO_ITSJ">
                          <option *ngFor="let kidFun of adjustCode.SPO_ITSJ" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SPO_ITSJ">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SPO_ITSJ" (change)="changeTextAdd('SPO_ITSJ')">
                            <option *ngFor="let kidFun of additonalTextCMB.SPO_ITSJ;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SPO_ITSJ[additonalTextCMBSelected.SPO_ITSJ.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-mutd">
                    <td class="text-left " colspan="3"><b>
                        <p><b>Medosebni
                            odnosi</b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SPO_MO')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SPO_MO">
                          <option *ngFor="let kidFun of adjustCode.SPO_MO" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SPO_MO">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SPO_MO" (change)="changeTextAdd('SPO_MO')">
                            <option *ngFor="let kidFun of additonalTextCMB.SPO_MO;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SPO_MO[additonalTextCMBSelected.SPO_MO.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr>
                    <td class="text-left" colspan="5"><b>Socialne veščine&nbsp;</b><br></td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Veščine
                            za čim večjo samostojnost v življenju (prilagoditvene spretnosti)</b><br></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SV_VZCVSZ')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SV_VZCVSZ">
                          <option *ngFor="let kidFun of adjustCode.SV_VZCVSZ" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SV_VZCVSZ">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SV_VZCVSZ" (change)="changeTextAdd('SV_VZCVSZ')">
                            <option *ngFor="let kidFun of additonalTextCMB.SV_VZCVSZ;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SV_VZCVSZ[additonalTextCMBSelected.SV_VZCVSZ.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Strategije vključevanja v skupino</b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SV_SVS')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SV_SVS">
                          <option *ngFor="let kidFun of adjustCode.SV_SVS" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SV_SVS">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SV_SVS" (change)="changeTextAdd('SV_SVS')">
                            <option *ngFor="let kidFun of additonalTextCMB.SV_SVS;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SV_SVS[additonalTextCMBSelected.SV_SVS.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b><b>Načrt
                              vključitve v zaposlitev</b></b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SV_NVZ')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SV_NVZ">
                          <option *ngFor="let kidFun of adjustCode.SV_NVZ" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SV_NVZ">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SV_NVZ" (change)="changeTextAdd('SV_NVZ')">
                            <option *ngFor="let kidFun of additonalTextCMB.SV_NVZ;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SV_NVZ[additonalTextCMBSelected.SV_NVZ.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                </tbody>
              </table>
              <div class="row knofi text-center">
                <div class="text-center">
                  <div class="btn-group text-center" role="group" aria-label="Basic example" *ngIf="userSaveDialog">
                    <button type="button" class="btn btn-xs btn-secondary btn-danger"
                      (click)="CancelUserOnClick()">Prekliči</button>
                    <button type="button" class="btn btn-xs btn-secondary btn-success"
                      (click)="SaveOrAddUserOnClick()">Shrani</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
