<div id="kidsListForm" class="panel panel-info">
  <div class="panel-heading ">
      <h4 class="panel-title">Osnovni podatki</h4>
  </div>
  <div class="panel-body">
      <form role="form">
          <div class="row">
              <div class="label-form-row">
                  <label class="control-label">Priimek in ime</label>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Priimek" placeholder="Priimek osebe" (ngModelChange)="changeModel()">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Ime" placeholder="Ime osebe" (ngModelChange)="changeModel()">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="label-form-row">
                  <label class="control-label">Fotografija</label>
              </div>
              <div class="col-md-6" style="height:210px">
                  <div class="circle">
                      <!-- User Profile Image -->
                     <img style="height:200px;width:200px;" class="profile-pic" src="{{student.data.Picture}}">
                      <!-- Default Image -->
                      <!-- <i class="fa fa-user fa-5x"></i> -->
                  </div>
                  <div class="p-image">
                      <i class="fa fa-camera upload-button" (click)="imageUpload()"></i>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="label-form-row">
                  <label class="control-label">Kraj in datum rojstva, starost</label>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <input id="datepicker" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Krajrojstva" placeholder="Kraj rojstva" (ngModelChange)="changeModel()">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                          <div class='input-group date'  id='kidsBirthDayBasic'>
                                  <input type='text' class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Datrojstva" placeholder="Datum rojstva" (ngModelChange)="changeModel()"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>


                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <input class="form-control" [value]="student.data.kidsyears" placeholder="Starost"  disabled>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="label-form-row">
                  <label class="control-label">Ulica, hišna št., poštna št, kraj in država</label>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Ulica" placeholder="Ulica" (ngModelChange)="changeModel()">
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Hisnast" placeholder="Hišna št" (ngModelChange)="changeModel()">
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Posta" placeholder="Poštna št." (ngModelChange)="changeModel()">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Kraj" placeholder="Kraj" (ngModelChange)="changeModel()">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.Drzrojstva" placeholder="Država" (ngModelChange)="changeModel()">
                  </div>
              </div>
          </div>
          <label class="control-label">Oblika vključitve (bivanja):</label>
          <div class="text-cnter text-right">
              <div class="form-group">
                      <select class="form-control "
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="student.data.FormOfDailyLiving" (ngModelChange)="changeModel()">
                      <option *ngFor="let delFODL of kidsConsets.formofdailylivingValidValues" [value]="delFODL.Id">
                          {{delFODL.Title}}</option>
                  </select>
              </div>
          </div>
          <div class="row knofi text-center">
              <div class="text-center">
                  <div class="btn-group text-center" role="group" aria-label="Basic example" *ngIf="userSaveDialog">
                          <button type="button" class="btn btn-xs btn-secondary btn-danger" (click)="Cancel()">Prekliči</button>
                          <button type="button" class="btn btn-xs btn-secondary btn-success" (click)="Save()">Shrani</button>
                  </div>
              </div>
          </div>
      </form>
      <!-- /.row (nested) -->
  </div>
</div>
