<div [ngSwitch]="isLogin">
  <div *ngSwitchCase="false">
    <app-login></app-login>
  </div>
  <div *ngSwitchCase="true">
    <div id="wrapper">

      <app-top-nav></app-top-nav>
      <div id="page-wrapper">
        <app-current-kid></app-current-kid>
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">© 2018 CIRIUS Kamnik - Vse pravice pridržane!</p>
      </div>
    </footer>
  </div>
</div>
