<div class="row">
  <div class="">
    <h1 class="page-header">Okoljski dejavniki</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="panel-warning  panel-col-padding col-md-4">
    <div class="panel-heading">
      <h4 class="panel-title">Okoljski dejavniki</h4>
      <div class="text-cnter text-right">
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="panel panel-default panel-col-padding col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title select-factors"><b>Ekonomski in bivalni pogoji</b></h3>
      <div class="text-cnter text-right">
        <div class="form-group">
          <select class="form-control " [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFactor.Eko_Biv_Polozaj"
            (ngModelChange)="changeFactor()">
            <option *ngFor="let kidEBP of factors.Eko_Biv_Polozaj" [value]="kidEBP.Id">
              {{kidEBP.Title}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="panel-group" id="kidscoop-text">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-body">
            <div style="height:300px;" class="row">
              <div class="label-form-row">
                <label class="control-label">Poročilo:</label>
              </div>
              <div class="col-md-12" style="height:100%;">
                <div [ngSwitch]="editMode.EBP" style="height:100%;">
                  <div *ngSwitchCase="true" style="height:100%;">
                    <textarea placeholder="Na področju ekonomskih in bivalnih pogojev…"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFactor.EBP_Porocilo" class="form-control"
                      style="height:100%;">
                                                                          </textarea>
                  </div>
                  <div *ngSwitchCase="false" style="height:100%;">
                    <pre class="preWrap">{{kidFactor.EBP_Porocilo}}</pre>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row knofi text-center" style="padding-top:10px;">
              <button (click)="cancelPorocilo('EBP')" type="button" class="btn btn-secondary btn-danger"
                *ngIf="editMode.EBP">Prekliči</button>
              <button (click)="savePorocilo('EBP')" type="button"
                class="btn btn-secondary btn-success">{{saveButton.EBP}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="panel panel-default panel-col-padding col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title select-factors"><b>Ekonomski in bivalni pogoji</b></h3>
      <div class="text-cnter text-right">
        <div class="form-group">
          <select class="form-control " [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFactor.Pod_Ods_Stal"
            (ngModelChange)="changeFactor()">
            <option *ngFor="let kidEBP of factors.Pod_Ods_Stal" [value]="kidEBP.Id">
              {{kidEBP.Title}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="panel-group" id="kidscoop-text">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-body">
            <div style="height:300px;" class="row">
              <div class="label-form-row">
                <label class="control-label">Poročilo:</label>
              </div>
              <div class="col-md-12" style="height:100%;">
                <div [ngSwitch]="editMode.EBP" style="height:100%;">
                  <div *ngSwitchCase="true" style="height:100%;">
                    <textarea placeholder="Na področju podpore, odnosov in stališč…"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidFactor.POS_Porocilo" class="form-control"
                      style="height:100%;">
                                                                          </textarea>
                  </div>
                  <div *ngSwitchCase="false" style="height:100%;">
                    <pre class="preWrap">{{kidFactor.POS_Porocilo}}</pre>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row knofi text-center" style="padding-top:10px;">
              <button (click)="cancelPorocilo('POS')" type="button" class="btn btn-secondary btn-danger"
                *ngIf="editMode.EBP">Prekliči</button>
              <button (click)="savePorocilo('POS')" type="button"
                class="btn btn-secondary btn-success">{{saveButton.EBP}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row knofi text-center" *ngIf="userSaveDialog">
  <div class="text-center">
    <div class="btn-group text-center" role="group" aria-label="Basic example" >
      <button type="button" class="btn btn-xs btn-secondary btn-danger"
        (click)="CancelUserOnClick()">Prekliči</button>
      <button type="button" class="btn btn-xs btn-secondary btn-success"
      (click)="SaveOrAddUserOnClick()">Shrani</button>
    </div>
  </div>
</div>
