<div class="panel-heading ">
  <h4 class="panel-title pull-left">Kontaktne osebe</h4>
  <div class="text-cnter text-right">
      <button class="btn btn-xs btn-default" data-add="" data-parent="#contact-person" href="#conperson1" ng-click="contactsList.onCreateNewContactBegin()">
          Dodaj osebo
          <i class="fa fa-arrow-down"></i>
      </button>
  </div>
</div>
<div class="panel-group" id="contact-person">
  <div *ngFor=" let contactPerson of kidCoantact" class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title pull-left">{{contactPerson.Ime}} {{contactPerson.Priimek}}  </h3>
          <div class="text-cnter text-right">
              <button class="btn btn-xs btn-default" data-toggle="collapse" data-parent="#contact-person">
                  Več podatkov o osebi
                  <i class="fa fa-arrow-down"></i>
              </button>
          </div>
      </div>
      <div id="{{contactPerson.Id}}" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="row">
                  <div class="label-form-row">
                      <label class="control-label">Priimek in ime</label>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.Ime" placeholder="Priimek osebe">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.Priimek" placeholder="Ime osebe">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="label-form-row">
                      <label class="control-label">Sorodstveno razmerje</label>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.SorodstvenoRazmerje" placeholder="Sorodstveno razmerje">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="label-form-row">
                      <label class="control-label">Ulica, hišna št., poštna št, kraj in država</label>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.Ulica" placeholder="Ulica">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.HisnaSt" placeholder="Hišna št">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.Posta" placeholder="Poštna št.">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.Kraj" placeholder="Kraj">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.Drzava" placeholder="Država">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="label-form-row">
                      <label class="control-label">Telefon, e-mail</label>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.Telefon" placeholder="Telefon">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control" ng-model="contactPerson.Email" placeholder="E-mail">
                      </div>
                  </div>
              </div>
          </div>
          <div ng-if="contactPerson.isBlank">
              <div class="row knofi text-center">
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" ng-click="contactsList.onCreateNewCancel()" class="btn btn-info">{{contactPerson.cancelBtnTitle}}</button>
                      <button type="button" ng-click="contactsList.onSaveClick(contactPerson.Id)" class="btn btn-info">{{contactPerson.saveBtnTitle}}</button>
                  </div>
              </div>
          </div>
          <div ng-if="!contactPerson.isBlank">
              <div class="row knofi text-center">
                  <button type="button" ng-click="contactsList.onSaveClick(contactPerson.Id)" class="btn btn-info">{{contactPerson.saveBtnTitle}}</button>
              </div>
          </div>
      </div>
  </div>
</div>
