<div class="row">
  <div class="">
    <h1 class="page-header">Individualiziran program</h1>

  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">

</div>
<div class="row">
  <!-- IP PROGRAM FORME SO POLINKANE Z PRILAGODITVAMI SAJ GRE ZA ISTE SKLOPE, LE DA SO TUKAJ V OŽJEM IZBORU (ker vse ni zajeto v državnih poročilih ) - torej če tukaj uporabnik spremeni eno kategorijo se ta odrazi tudi v programu in vice versa -->
  <div id="kidsPersonalizReport" class="panel-warning panel-col-padding col-md-12">
    <div style="overflow: auto;" class="panel-heading panel-alternative">
      <h4 class="panel-title pull-left">Individualiziran Program </h4>
    </div>

    <div class="panel-group">
      <div id="grades-function" class="panel panel-default collapse in">
        <div class="panel-heading">
          <div class="text-cnter text-right">
            <div class="form-group">
              <table style="table-layout:fixed;" class="table table-hover table-striped table-condensed">
                <thead>
                  <tr>
                    <th colspan="3"></th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left" colspan="5"><b><b>Šolsko izobraževanje in učenje</b></b></td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b><b>Oblike dela in učne metode na posameznih
                          vzgojno-izobraževalnih področjih </b></b></td>
                          <td colspan="2">
                            <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_ODUM')"
                              [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_ODUM">
                              <option *ngFor="let kidFun of adjustCode.SIU_ODUM" [value]="kidFun.Id"> – {{kidFun.Title}}
                              </option>
                            </select>
                          </td>
                          <td>
                            <div *ngIf="additonal.SIU_ODUM">
                              <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="additonalTextCMBSelected.SIU_ODUM" (change)="changeTextAdd('SIU_ODUM')">
                                <option *ngFor="let kidFun of additonalTextCMB.SIU_ODUM;trackBy:identify" [ngValue]="kidFun">
                                  – {{kidFun.Title}}</option>
                              </select>
                              <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="additonalText.SIU_ODUM[additonalTextCMBSelected.SIU_ODUM.Id]">
                                                                    </textarea>
                            </div>
                          </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Doseganje standardov in napredovanje</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_DSN')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_DSN">
                        <option *ngFor="let kidFun of adjustCode.SIU_DSN" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_DSN">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_DSN" (change)="changeTextAdd('SIU_DSN')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_DSN;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_DSN[additonalTextCMBSelected.SIU_DSN.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Uporaba prilagojene in pomožne izobraževalne
                        tehnologije</b></td>
                        <td colspan="2">
                          <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_UPPIT')"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_UPPIT">
                            <option *ngFor="let kidFun of adjustCode.SIU_UPPIT" [value]="kidFun.Id"> – {{kidFun.Title}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <div *ngIf="additonal.SIU_UPPIT">
                            <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="additonalTextCMBSelected.SIU_UPPIT" (change)="changeTextAdd('SIU_UPPIT')">
                              <option *ngFor="let kidFun of additonalTextCMB.SIU_UPPIT;trackBy:identify" [ngValue]="kidFun"> –
                                {{kidFun.Title}}</option>
                            </select>
                            <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="additonalText.SIU_UPPIT[additonalTextCMBSelected.SIU_UPPIT.Id]">
                                                              </textarea>
                          </div>
                        </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Preverjanje in ocenjevanja znanja</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_POZ')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_POZ">
                        <option *ngFor="let kidFun of adjustCode.SIU_POZ" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_POZ">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_POZ" (change)="changeTextAdd('SIU_POZ')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_POZ;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_POZ[additonalTextCMBSelected.SIU_POZ.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Izvajanje fizične pomoči</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_IFP')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_IFP">
                        <option *ngFor="let kidFun of adjustCode.SIU_IFP" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_IFP">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_IFP" (change)="changeTextAdd('SIU_IFP')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_IFP;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_IFP[additonalTextCMBSelected.SIU_IFP.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Prehajanje med programi ter potrebne prilagoditve
                        pri organizaciji</b></td>
                        <td colspan="2">
                          <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_PMPPPO')"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_PMPPPO">
                            <option *ngFor="let kidFun of adjustCode.SIU_PMPPPO" [value]="kidFun.Id"> – {{kidFun.Title}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <div *ngIf="additonal.SIU_PMPPPO">
                            <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="additonalTextCMBSelected.SIU_PMPPPO" (change)="changeTextAdd('SIU_PMPPPO')">
                              <option *ngFor="let kidFun of additonalTextCMB.SIU_PMPPPO;trackBy:identify" [ngValue]="kidFun"> –
                                {{kidFun.Title}}</option>
                            </select>
                            <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="additonalText.SIU_PMPPPO[additonalTextCMBSelected.SIU_PMPPPO.Id]">
                                                              </textarea>
                          </div>
                        </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>Časovna razporeditev pouka</b></td>
                    <td colspan="2">
                      <select class=" ms form-control" multiple="multiple" (change)="changeModel('SIU_CRP')"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SIU_CRP">
                        <option *ngFor="let kidFun of adjustCode.SIU_CRP" [value]="kidFun.Id"> – {{kidFun.Title}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="additonal.SIU_CRP">
                        <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalTextCMBSelected.SIU_CRP" (change)="changeTextAdd('SIU_CRP')">
                          <option *ngFor="let kidFun of additonalTextCMB.SIU_CRP;trackBy:identify" [ngValue]="kidFun"> –
                            {{kidFun.Title}}</option>
                        </select>
                        <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="additonalText.SIU_CRP[additonalTextCMBSelected.SIU_CRP.Id]">
                                                          </textarea>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left" colspan="5"><b>Sporazumevanje&nbsp;</b><br></td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b><b>Izvajanje tolmačenja v slovenskem znakovnem jeziku</b></b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SPO_ITSJ')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SPO_ITSJ">
                          <option *ngFor="let kidFun of adjustCode.SPO_ITSJ" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SPO_ITSJ">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SPO_ITSJ" (change)="changeTextAdd('SPO_ITSJ')">
                            <option *ngFor="let kidFun of additonalTextCMB.SPO_ITSJ;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SPO_ITSJ[additonalTextCMBSelected.SPO_ITSJ.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr>
                    <td class="text-left" colspan="5"><b>Socialne veščine&nbsp;</b><br></td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Veščine
                            za čim večjo samostojnost v življenju (prilagoditvene spretnosti)</b><br></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SV_VZCVSZ')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SV_VZCVSZ">
                          <option *ngFor="let kidFun of adjustCode.SV_VZCVSZ" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SV_VZCVSZ">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SV_VZCVSZ" (change)="changeTextAdd('SV_VZCVSZ')">
                            <option *ngFor="let kidFun of additonalTextCMB.SV_VZCVSZ;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SV_VZCVSZ[additonalTextCMBSelected.SV_VZCVSZ.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b>Strategije vključevanja v skupino</b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SV_SVS')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SV_SVS">
                          <option *ngFor="let kidFun of adjustCode.SV_SVS" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SV_SVS">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SV_SVS" (change)="changeTextAdd('SV_SVS')">
                            <option *ngFor="let kidFun of additonalTextCMB.SV_SVS;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SV_SVS[additonalTextCMBSelected.SV_SVS.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                  <tr class="text-muted">
                    <td class="text-left td-padding" colspan="3"><b>
                        <p><b><b>Načrt  vključitve v zaposlitev</b></b></p>
                      </b></td>
                      <td colspan="2">
                        <select class=" ms form-control" multiple="multiple" (change)="changeModel('SV_NVZ')"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidAdjust.SV_NVZ">
                          <option *ngFor="let kidFun of adjustCode.SV_NVZ" [value]="kidFun.Id"> – {{kidFun.Title}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="additonal.SV_NVZ">
                          <select class="additional-select-switch" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalTextCMBSelected.SV_NVZ" (change)="changeTextAdd('SV_NVZ')">
                            <option *ngFor="let kidFun of additonalTextCMB.SV_NVZ;trackBy:identify" [ngValue]="kidFun"> –
                              {{kidFun.Title}}</option>
                          </select>
                          <textarea (change)="changeText()" class="form-control" placeholder="Dodatni opis"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="additonalText.SV_NVZ[additonalTextCMBSelected.SV_NVZ.Id]">
                                                            </textarea>
                        </div>
                      </td>
                  </tr>
                </tbody>
              </table>
              <div class="row knofi text-center">
                <div class="text-center">
                  <div class="btn-group text-center" role="group" aria-label="Basic example" *ngIf="userSaveDialog">
                    <button type="button" class="btn btn-xs btn-secondary btn-danger"
                      (click)="CancelUserOnClick()">Prekliči</button>
                    <button type="button" class="btn btn-xs btn-secondary btn-success"
                      (click)="SaveOrAddUserOnClick()">Shrani</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
