<div class="clearfix">
  <div class="row">
      <div class="col">
          <div class="panel-warning panel-col-padding-nm">
              <div class="panel-heading">
                  <h4 class="panel-title">Strokovna skupina:</h4>
                  <div class="text-cnter text-right">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="panel-warning panel-col-padding-nm">
      <div class="panel-group" id="details-person">
              <div class="row">
              <div style="margin-top:37px;" class="panel-warning panel-col-padding col-sm-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title select-factors"><b>Koordinator:</b></h3>
                          <div class="text-cnter text-right">
                              <div class="form-group">
                                  <select class="form-control ">
                                      <option>ime priimek</option>
                                      <option>ime priimek</option>
                                  </select>
                              </div>
                          </div>
                          <h3 class="panel-title select-factors"><b>Razrednik: </b></h3>
                          <div class="text-cnter text-right">
                              <div class="form-group">
                                  <select id="strok_razrednik" class="form-control "
                                  [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.RAZREDNIK" (ngModelChange)="changeTeam()">
                                      <option *ngFor="let delRaz of teamList.delUcitelj" [value]="delRaz.Id">
                                          {{delRaz.Priimekinime}}</option>
                                  </select>
                              </div>
                          </div>
                        <h3 class="panel-title select-factors"><b>Vzgojitelj:</b></h3>
                          <div class="text-cnter text-right">
                              <div class="form-group">
                                  <select id="strok_vzgojitelj" class="form-control "
                                  [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.VZGOJITELJ" (ngModelChange)="changeTeam()">
                                      <option  *ngFor="let delVzg of teamList.delavciVzgojitelj" [value]="delVzg.Id">
                                          {{delVzg.Priimekinime}}</option>
                                  </select>
                              </div>
                          </div>
                          <h3 class="panel-title select-factors"><b>Zdravnik:</b></h3>
                          <div class="text-cnter text-right">
                              <div class="form-group">
                                  <select id="strok_zdravnik" class="form-control"
                                  [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.ZDRAVNIK" (ngModelChange)="changeTeam()">
                                      <option *ngFor="let delZdravnik of teamList.delavciZdravnik" [value]="delZdravnik.Id">
                                          {{delZdravnik.Priimekinime}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                  <div style="margin-top:37px;" class="panel-warning panel-col-padding col-sm-4">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title select-factors"><b>Psiholog:</b></h3>
                              <div class="text-cnter text-right">
                                  <div class="form-group">
                                      <select id="strok_Psiholog" class="form-control "
                                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.PSIHOLOG" (ngModelChange)="changeTeam()">
                                          <option *ngFor="let delPsih of teamList.delavciPsiholog"  [value]="delPsih.Id">
                                              {{delPsih.Priimekinime}}</option>
                                      </select>
                                  </div>
                              </div>
                              <h3 class="panel-title select-factors"><b>Socialni delavec: </b></h3>
                              <div class="text-cnter text-right">
                                  <div class="form-group">
                                      <select id="strok_SocialniDelavec" class="form-control "
                                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.SOCIALNI_DELAVEC" (ngModelChange)="changeTeam()">
                                          <option *ngFor="let delSocDel of teamList.delavciSocialniDelavec"
                                          [value]="delSocDel.Id"> {{delSocDel.Priimekinime}}</option>
                                      </select>
                                  </div>
                              </div>
                              <h3 class="panel-title select-factors"><b>Varuh-negovalec /Spremljevalec:</b></h3>
                              <div class="text-cnter text-right">
                                  <div class="form-group">
                                      <select id="strok_VaruhNegovalec" class="form-control "
                                      [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.VARUH_NEGOVALEC" (ngModelChange)="changeTeam()">
                                          <option *ngFor="let delVarNeg of teamList.delavciVaruhNegovalec"
                                          [value]="delVarNeg.Id"> {{delVarNeg.Priimekinime}}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div style="margin-top:37px;" class="panel-warning panel-col-padding col-sm-3">
                      <div class="panel-group">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h3 class="panel-title select-factors"><b>Medicinska sestra:</b></h3>
                                  <div class="text-cnter text-right">
                                      <div class="form-group">
                                          <select id="strok_MedicinskaSestra" class="form-control "
                                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.MEDICINSKA_SESTRA" (ngModelChange)="changeTeam()">
                                              <option *ngFor="let delMedSes of teamList.delavciMedicinskaSestra"
                                              [value]="delMedSes.Id"> {{delMedSes.Priimekinime}}</option>
                                          </select>
                                      </div>
                                  </div>
                                  <h3 class="panel-title select-factors"><b>Fizioterapevt:</b></h3>
                                  <div class="text-cnter text-right">
                                      <div class="form-group">
                                          <select id="strok_Fizioterapevt" class="form-control "
                                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.FIZIOTERAPEVT" (ngModelChange)="changeTeam()">
                                              <option *ngFor="let delFiz of teamList.delavciFizioterapevt"
                                              [value]="delFiz.Id"> {{delFiz.Priimekinime}}</option>
                                          </select>
                                      </div>
                                  </div>
                                  <h3 class="panel-title select-factors"><b>Delovni terapevt:</b></h3>
                                  <div class="text-cnter text-right">
                                      <div class="form-group">
                                          <select id="strok_DelTerapevt" class="form-control "
                                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.DELOVNI_TERAPEVT" (ngModelChange)="changeTeam()">
                                              <option *ngFor="let delDelTer of teamList.delavciDelavniTerapevt"
                                              [value]="delDelTer.Id"> {{delDelTer.Priimekinime}}</option>
                                          </select>
                                      </div>
                                  </div>
                                  <h3 class="panel-title select-factors"><b>Logoped:</b></h3>
                                  <div class="text-cnter text-right">
                                      <div class="form-group">
                                          <select id="strok_Logoped" class="form-control "
                                          [ngModelOptions]="{standalone: true}" [(ngModel)]="kidTeam.LOGOPED" (ngModelChange)="changeTeam()">
                                              <option *ngFor="let delLog of teamList.delavciLogoped"  [value]="delLog.Id">
                                                  {{delLog.Priimekinime}}</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

          </div>

          <div class="text-center">
              <div class="btn-group text-center" role="group" aria-label="Basic example" *ngIf="userSaveDialog">
                      <button type="button" class="btn btn-sm btn-secondary btn-danger" (click)="CancelTeam()">Prekliči</button>
                      <button type="button" class="btn btn-sm btn-secondary btn-success" (click)="SyncTeam()">Shrani</button>
                  </div>
              </div>


      </div>
  </div>
</div>
